table {
    border-collapse: collapse;
    width: 50%;
}

caption {
    caption-side: bottom;
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 10px;
    color: #a100b6;
}

thead {
    background-color: #a100b6;
    color: #ffffff;
}

th {
    padding: 10px 12px;
}

th:first-child {
    background-color: #e100ff;
    color: white;
}


td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
    background-color: #e100ff27;
}

tbody tr:hover {
    background-color: #ddd;
}