@media screen and (min-width: 1023px) {
    body {
        font-size: 16px;
    }

    #menu {
        display: none;
    }

    .navigation {
        flex-direction: row;
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
    }

    .index, .rentals, .reservations, .contact {
        grid-template-columns: repeat(2, 1fr);
    }

    .rental-images {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        grid-auto-rows: auto;
        grid-gap: 10px;
        justify-content: center;
        align-items: center;
    }
    
    .rental-images figure {
        margin: 0;
    }

    .rental-images img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }

    .reservation-info {
        grid-template-columns: 1fr;
        margin-left: 50px;
    }

    .contact .about-us,
    .maps {
        margin-left: 35px;
    }
    
    footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
}