body {
    text-align: center;
}

h1, h2 {
    background-color: rgba(44, 62, 128, 1);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

p, li {
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style: none;
}

.blue {
    background-color: rgba(44, 62, 128, 1);
    color: white;
}

.light {
    background-color: rgba(128, 127, 191, 1);
}

.pink {
    color: rgba(187, 103, 112, 1);
}

.headings {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.paragraphs {
    font-family: Arial, helvetica, sans-serif;
}