/* CSS Normalization or Reset */
body,
h1,
h2,
p {
    margin: 0;
    padding: 0;
}

/* Typography and Colors */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: #000000;
}

h2 {
    color: #fff;
    background-color: #6285aa;
    padding: 10px;
}

/* Grid Layout */
.main-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    margin: 1rem;
}

p {
    padding: 5px;
}

/* Responsive Media Queries */
@media screen and (max-width: 767px) {
    .main-container {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .main-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .main-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Images */
img {
    max-width: 100%;
    /* Set the maximum width to 100% of the column */
    height: auto;
    /* Maintain the aspect ratio */
}

.card {
    border: 2px solid #000000;
    /* Border style, adjust color and width as needed */
    padding: 15px;
    /* Add padding for space between content and border */
    border-radius: 8px;
    /* Optional: Add border-radius for rounded corners */
}