:root {
    --primary-color: rgba(44, 62, 128, 1);
    --secondary-color: rgba(128, 127, 191, 1);
    --accent-color: rgba(187, 103, 112, 1);

    --heading-font: Verdana, Geneva, Tahoma, sans-serif;
    --paragraph-font: Arial, helvetica, sans-serif;
}

body {
    font-family: var(--paragraph-font);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

header {
    background-color: var(--primary-color);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

#title {
    color: white;
    font-size:xx-large;
}

h1,
h2 {
    color: var(--secondary-color);
    font-family: var(--heading-font);
    font-weight: bold;
}

h1 {
    padding-top: 15px;
}

h3 {
    color: var(--accent-color)
}

main {
    padding: 20px 0;
    padding-bottom: 150px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    text-align: center;
}

.call-to-action,
.current-events,
.weather-card,
.company-spotlights {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: var(--primary-color);
    color: #fff;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    /* Adjust the gap as needed */
}

footer p {
    padding: 2px;
    /* Adjust the value as needed for spacing */
}

.contact-info,
.class-info {
    width: 100%;
    /* Each div takes full width within its column */
}

.contact-info p,
.class-info p {
    margin: 0;
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
    color: #fff;
}

#menu.open::before {
    content: "X";
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: var(--primary-color);
    color: #fff;
    padding: 5px;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.navigation a:hover {
    background-color: #bbb;
    color: #333;
    font-weight: 700;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
    display: block;
}

/* Add more specific styling for your sections as needed */
.hero {
    position: relative;
    margin-top: -20px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h2 {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 50%;
    text-align: center;
}

.hero article {
    position: absolute;
    bottom: 10px;
    right: 20px;
    color: #ffffff;
    background-color: #4d4d5edd;
    width: 35%;
    text-align: center;
    font-size: 22px;
}

a {
    text-decoration: none;
}

.call-to-action button {
    background-color: var(--secondary-color);
    color: #000;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

.call-to-action button:hover {
    background-color: var(--accent-color);
}

.dark-mode-toggle {
    position: absolute;
    top: 1rem;
    right: 3rem;
    /* Adjusted position to not interfere with hamburger menu */
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #fff;
    z-index: 9999;
    /* Ensure toggle is above other content */
}

.dark-mode-toggle:focus {
    outline: none;
    /* Remove focus outline */
}

.dark-mode {
    background-color: #000;
    color: #fff;
}

.dark-mode .call-to-action,
.dark-mode .current-events,
.dark-mode .weather-card,
.dark-mode .company-spotlights {
    background-color: #222;
    /* Adjusted background color for sections */
    color: #fff;
    /* Adjusted text color for sections */
}