@media screen and (min-width: 1023px) {
    body {
        font-size: 16px;
    }

    #menu {
        display: none;
    }

    .navigation {
        flex-direction: row;
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
    }

    .hero h2 {
        left: 20px;
        width: auto;
        transform: translate(0, -50%);
        font-size: xx-large;
    }

    main {
        grid-template-columns: repeat(2, 1fr);
    }

    .hero {
        grid-column: span 2;
    }

    .company-spotlights {
        display: flex;
        flex-wrap: wrap;
    }

    h2 {
        width: 100%;
    }

    .company-spotlights>div {
        flex: 1 0 48%;
        /* Each div takes 48% of the width with some spacing */
        margin: 1%;
    }

    .gallery img:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease;
    }

    .container {
        display: flex;
    }

    .main {
        flex: 1;
        padding: 20px;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        height: 100%;
        background-color: var(--accent-color);
        color: #000000;
        padding: 20px;
        margin-top: 10px;
        border-radius: 8px;
        text-align: center;
    }

    .sidebar-section {
        flex-grow: 1;
        /* Allow sections to grow and fill available space */
        background-color: rgba(255, 255, 255, 0.75);
        padding: 10px;
        border-radius: 6px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 50px;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0;
    }

    .gallery img {
        width: 100%;
        height: auto;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .thank-you {
        display: block;
    }
}