@media screen and (min-width: 768px) and (max-width: 1023px) {
    #menu {
            display: none;
            /* hide hamburger button */
        }
    
        .navigation {
            flex-direction: row;
        }
    
        .navigation a {
            display: block;
            flex: 1 1 100%;
        }

        main {
            grid-template-columns: repeat(2, 1fr);
            /* 2 columns in medium view */
        }

        .hero,
        .call-to-action,
        .company-spotlights {
            grid-column: span 2;
            /* Full width for these sections */
        }

        .current-events,
        .weather-card {
            grid-column: span 1;
            /* Half width for these sections */
        }

                .company-spotlights {
                    display: flex;
                    flex-wrap: wrap;
                    /* Enable wrapping for multiple rows */
                    justify-content: space-between;
                    /* Adjust as needed */
                }
        
                h2 {
                    width: 100%;
                    /* Ensure h2 spans full width */
                }
        
                .company-spotlights>div {
                    flex: 1 0 31%;
                    /* Each div takes 48% of the width with some spacing */
                    margin: 1%;
                    /* Add some margin for spacing */
                }
}