@media screen and (min-width: 768px) and (max-width: 1023px) {
    #menu {
        display: none;
    }

    .navigation {
        flex-direction: row;
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
    }

    main {
        grid-template-columns: repeat(2, 1fr);
        /* 2 columns in medium view */
    }

    .hero,
    .call-to-action,
    .company-spotlights {
        grid-column: span 2;
        /* Full width for these sections */
    }

    .current-events,
    .weather-card {
        grid-column: span 1;
        /* Half width for these sections */
    }

    .company-spotlights {
        display: flex;
        flex-wrap: wrap;
        /* Enable wrapping for multiple rows */
        justify-content: space-between;
    }

    h2 {
        width: 100%;
    }

    .company-spotlights>div {
        flex: 1 0 31%;
        /* Each div takes 48% of the width with some spacing */
        margin: 1%;
    }

    .gallery img:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease;
    }

    .container {
        display: flex;
    }

    .main {
        flex: 1;
        padding: 20px;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        height: 100%;
        background-color: var(--accent-color);
        color: #000000;
        padding: 20px;
        margin-top: 10px;
        border-radius: 8px;
        text-align: center;
    }

    .sidebar-section {
        flex-grow: 1;
        /* Allow sections to grow and fill available space */
        background-color: rgba(255, 255, 255, 0.75);
        padding: 10px;
        border-radius: 6px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 50px;
    }

    .thank-you {
        display: block;
        padding-left: 20px;
        padding-right: 20px;
    }

    .main {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 20px;
        padding: 20px;
    }

    .toggle-view {
        text-align: center;
        grid-column: 1 / -1;
        /* Span across all columns */
    }

    #members-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 20px;
        grid-column: 1 / -1;
        /* Span across all columns */
    }

    .member-card {
        display: flex;
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease;
    }

    .company-image-container {
        flex: 1;
        display: flex;
        justify-content: center;
    }

    .member-info {
        flex: 1;
        padding-left: 20px;
    }

    .company-image {
        max-width: 250px;
        max-height: 100%;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin: auto;
        display: block;
    }
}