@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rock+Salt&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rock Salt', cursive;
    /* Apply 'Rock Salt' font */
}

header img {
    width: auto;
    height: 110px;
    object-fit: cover;
    border-radius: 70%;
    overflow: hidden;
    margin-right: 10px;
    /* Add some space between the image and the name */
}

header h1 {
    margin: 0;
    /* Remove default margin for h1 */
}

main {
    max-width: 800px;
    /* Adjust the width as needed */
    margin: 20px auto;
}

.card {
    width: 100%;
    /* Full width of the container */
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.info {
    text-align: center;
}

h2, .card h3 {
    font-family: 'Rock Salt';
    text-align: center;
}

.card ul {
    list-style-type: none;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
    color: #fff;
}

#menu.open::before {
    content: "X";
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #333;
    color: #fff;
    padding: 5px;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.navigation a:hover {
    background-color: #bbb;
    color: #333;
    font-weight: 700;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
    display: block;
}

.active::before, .active::after {
    content: "🦋";
    /* just a wayfinding symbol for the user */
}

iframe {
    padding: 10px;
}